* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    /* background-image: url(https://i.pinimg.com/736x/76/76/2b/76762b716484fe11f49f459b7741763c.jpg); */
    background-image: url(https://i.pinimg.com/736x/2e/3d/68/2e3d6845011de0d24c13dd1e1028a2ff.jpg);
    background-size: cover;
    overflow: hidden;
    /* Added perspective for 3D depth */
    perspective: 2000px;
}
.box {
    position: relative;
    /* Responsive sizing using vw */
    width: 25vw; 
    max-width: 200px;
    height: 35vw;
    max-height: 300px;
    transform-style: preserve-3d;
    animation: animate 25s linear infinite;
}
/* Pause animation on hover */
.box:hover {
    animation-play-state: paused;
}
.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    /* Automatically calculate angle: 360 / total images (--m) */
    transform: rotateY(calc(var(--i) * (360deg / var(--m)))) translateZ(35vw);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
}
.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.1);
}
/* Adjust translateZ for smaller screens to keep images from flying off-screen */
@media (max-width: 768px) {
    .box span {
        transform: rotateY(calc(var(--i) * (360deg / var(--m)))) translateZ(45vw);
    }
}
@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
